body {
    font-family: Arial, sans-serif;
    background-color: #d5ba6f;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80vw; /* 80% of the viewport's width */
    max-width: 600px; /* You can adjust this value to your liking */
    height: auto;
    max-height: 80vh; /* 80% of the viewport's height */
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px; /* Adjust to add rounded corners */
    overflow: auto; /* Allows scrolling if content exceeds max-height */
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

h1 {
    font-size: 3em;
    color: #333;
}

p {
    color: #666;
}

.social-links {
    margin-top: 50px;
}

.social-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}

.social-links a:hover {
    color: #d4a546;
}

/* Rules for screens smaller than 600px wide */
@media screen and (max-width: 600px) {
    .container {
      height: 9050vw;
      width: 90vw; /* Increase width of the container */
      padding: 10px; /* Decrease padding */
    }
  
    .profile-image {
      width: 150px; /* Decrease image size */
      height: 150px; /* Keep image aspect ratio */
    }
  
    h1 {
      font-size: 2.5em; /* Decrease text size */
    }
  
    p {
      font-size: 1.5em; /* Decrease text size */
    }
  
    #map {
      height: 300px; /* Decrease map height */
    }
  }
